HOST=127.0.0.1
PORT=1337
APP_KEYS=change-me-1,change-me-2
API_TOKEN_SALT=change-me
ADMIN_JWT_SECRET=change-me
TRANSFER_TOKEN_SALT=change-me
JWT_SECRET=change-me
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=kubtel_cms
DATABASE_USERNAME=kubtel
DATABASE_PASSWORD=kubtel
DATABASE_SSL=false
KUBTEL_SEED_API_TOKEN=
